* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

a {
    text-decoration: none
}

.logo-pw div p:first-child a {
    color: #fff;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block
}

.logo-pw div {
    text-align: left
}

.logo-pw div a span {
    color: transparent
}

.global {
    margin: 0 auto;
    margin-top: -120px
}

.conteudo-pages {
    min-height: 500px;
    width: 998px;
    margin: 0 auto
}

.texto-pages {
    font: 15px/25px Calibri;
    color: #000;
    text-align: justify
}

.texto-pages h1 {
    font: 25px Calibri;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.texto-pages h2 {
    font: 20px Calibri;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.menu-resp,
.overlay,
.fechar {
    display: none
}

.contato input {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important
}

.contato textarea {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    resize: none;
    height: 200px
}

.contato .submit {
    cursor: pointer;
    background: #016086;
    color: #fff
}

.slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.slider.resp {
    display: none
}

.topo-total {
    position: relative
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.topo > div {
    margin: 50px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center
}

.menu {
    position: relative
}

.menu li {
    display: inline-block;
    list-style: none;
    visibility: hidden
}

.menu li a {
    display: block;
    padding: 10px 20px;
    font: 22px calibri;
    color: #fff;
    font-weight: lighter;
    transition: all .5s
}

.menu li a:hover {
    color: #f47e34;
}

.menu li a.ativo {
    color: #f47e34;
    background: rgba(255, 255, 255, 0.07);
    box-shadow: -2px 0 6px -3px #000 inset;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 0 15px 15px 15px;
    transition: all .5s;
}

.rodape-total {
    background: #746447;
}

.rodape {
    width: 1200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center
}

.rodape > div {
    font: 24px calibri;
    font-weight: lighter;
    color: #fff;
    display: inline-block;
    padding: 20px 40px;
    vertical-align: middle
}

.rodape > div i {
    font-size: 65px;
    color: inherit;
    vertical-align: middle
}

.logo-pw {
    text-align: center;
    padding: 10px 0;
    display: table;
    margin: auto
}
.g-recaptcha{
	display: flex;
	justify-content: center;
}
/* Index */

 .slogan { font: 60px/52px 'calibri'; letter-spacing: 0px; color: #fff; font-weight: lighter; text-align: center; width: 740px; margin: 20px auto 275px; position: relative; visibility:hidden; } .slogan span { font: 30px 'calibri'; letter-spacing: 0px; color: #fff; font-weight:lighter; text-align:center; display: block; margin: 10px 0px; } .swiper-pagination { bottom: 150px !important; } .swiper-pagination-bullet { width: 20px !important; height: 20px !important; margin: 0 20px !important; } .swiper-pagination-bullet { background: #fff !important; } .swiper-pagination-bullet-active { background: #f47e34 !important; } .global { background: #8E7B57; box-shadow: 0px -50px 55px 30px #8E7B57; position: relative; } .box-01-total { } .box-01 { display: flex; flex-wrap: wrap; justify-content: space-around; width: 1200px; margin: 40px auto; } .box-01 .item { margin: 20px 0px; width: 350px; text-align:center; } .box-01 .item > * { visibility:hidden; } .box-01 .item .img { width: 350px; height: 350px; background: #f47e34; border-radius: 50%; display: flex; flex-direction: column; justify-content: center; text-align:center; margin-bottom: 20px; } .box-01 .item .img i { font-size: 140px; color: #fff; } .box-01 .item .titulo { font: 45px 'calibri'; font-weight:lighter; color: #fff; text-transform:uppercase; margin-bottom: 30px; } .box-01 .item .conteudo { font: 25px 'calibri'; font-weight:lighter; color: #fff; margin-bottom: 50px; } .box-01 .item a { display: block; } .box-01 .item .entrar { font: 25px 'calibri'; font-weight: lighter; color: #fff; margin-bottom: 10px; border: 2px solid #fff; border-radius: 30px; padding: 8px; width: 220px; margin: 0 auto; transition: all 0.5s; } .box-01 .item .entrar:hover {background: #f47e34;border: 2px solid #f47e34;transition: all 0.5s;} .box-02-total { background: #746447; } .box-02 { text-align:center; width: 1050px; margin: 0 auto; padding: 100px 0px; } .box-02 .titulo { font: 50px 'calibri'; font-weight: lighter; color: #fff; } .box-02 .titulo span {font: 35px 'calibri';font-weight: lighter;color: #f47e34;display: block;} .box-02 .conteudo { font: 25px 'calibri'; font-weight: lighter; color: #fff; margin: 20px 0px; } .box-02 a { display: block; } .box-02 .entrar { font: 25px 'calibri'; font-weight: lighter; color: #fff; margin-bottom: 10px; border: 2px solid #fff; border-radius: 30px; padding: 8px; width: 220px; margin: 0 auto; transition: all 0.5s; } .box-02 .entrar:hover {background: #f47e34;border: 2px solid #f47e34;transition: all 0.5s;} .box-03-total { background: #fff; padding: 80px 0px; } .box-03 { width: 1200px; margin: 0 auto; text-align:center; } .box-03 > .titulo {font: 50px 'calibri';color: #f47e34;margin-bottom: 40px;} .box-03 .box { display: flex; flex-wrap: wrap; justify-content: space-around; } .box-03 .item { margin: 20px 0px; width: 215px; padding: 40px 10px; border-radius: 30px; transition: all 0.3s; } .box-03 .item:hover { background: #eee; transition: all 0.3s; } .box-03 .item:hover .titulo, .box-03 .item:hover .conteudo { } .box-03 .item .img { width: 151px; height: 151px; margin: 0 auto; border-radius: 50%; overflow: hidden; margin-bottom: 20px; } .box-03 .item .img img { width: 100%; min-height: 100%; margin-bottom: 20px; } .box-03 .item .titulo {font: 30px 'calibri';color: #f47e34;margin-bottom: 20px;} .box-03 .item .conteudo {font: 20px 'calibri';color: #666;} .box-04-total {background: #f47e34;} .box-04 { width: 650px; margin: 0 auto; padding: 40px 0px; } .box-04 > .titulo { font: 40px 'calibri'; font-weight: lighter; color: #fff; text-align:center; margin-bottom: 40px; } .box-04 > .titulo i { font-size: 80px; color: inherit; vertical-align: sub; } .box-04 .box form { display: flex; flex-wrap: wrap; justify-content: space-between; } .box-04 .box input { width: 280px; border: 2px solid #fff; border-radius: 30px; padding: 15px 20px; color: #fff; background: none; box-sizing: border-box; font: 22px 'calibri'; font-weight: lighter; margin-bottom: 20px; outline: none; transition: all 0.5s; } .box-04 .box input:focus, .box-04 .box textarea:focus { transition: all 0.5s; border-radius: 0px 30px 30px 30px; } .box-04 .box textarea { width: 100%; height: 61px; border: 2px solid #fff; border-radius: 30px; padding: 15px 20px; color: #fff; background: none; box-sizing: border-box; font: 22px 'calibri'; font-weight: lighter; resize: none; margin-bottom: 20px; outline: none; overflow: hidden; transition: all 0.5s; } .box-04 .box .submit {background: #fff;color: #f47e34;margin: 0 auto;cursor: pointer;border-radius: 30px !important;} .box-04 .box .submit:hover { background: none; color: #fff; } ::-webkit-input-placeholder { color: #fff; } :-moz-placeholder { /* Firefox 18- */ color: #fff; } ::-moz-placeholder { /* Firefox 19+ */ color: #fff; } :-ms-input-placeholder { color: #fff; } .mapa { display: flex; }

@media only screen and (max-width:1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box
    }
    .slider * {
        max-width: unset
    }
    .menu-resp {
        display: block;
        background: url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao2-programado/template/pw-images/menu-resp.png) center no-repeat;
        padding: 40px;
        cursor: pointer
    }
    .overlay {
        background: rgba(0, 0, 0, 0.85);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2
    }
    .fechar {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -50px;
        right: 0;
        z-index: 999
    }
    .fechar i {
        color: #dd742f;
        font-size: 40px
    }
    .menu {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3
    }
    .menu li {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        opacity: 1!important;
        transform: translate(0%) scale(1)!important
    }
    .menu li a.ativo {
        background: none;
        box-shadow: none
    }
    .rodape div {
        width: 100%;
        margin: 20px 0;
        text-align: center
    }
}

@media only screen and (max-width:1000px) {
    .slider.resp {
        display: block
    }
    #wowslider-container1 img {
        width: 100%
    }
}

@media only screen and (max-width:750px) {
    .slogan {
        font: 30px/42px calibri;
        margin: 20px auto 225px
    }
    .slogan span {
        font: 22px calibri
    }
    .box-04 .box input {
        width: 100%!important;
    }
    .slogan {
        font: 30px/25px calibri!important
    }
    .global{
        box-shadow: 0px -50px 0px 30px #8E7B57!important;
    }
}

@media only screen and (max-width:600px) {
    .slogan {
        display: none
    }
    .global {
        margin-top: 0!important
    }
    .topo > div {
        margin: 10px 0
    }
    .menu-resp {
        margin-bottom: 30px
    }
}

@media only screen and (max-width:400px) {
    .global {
        margin-top: -10px!important;
    }
}